<app-nav-bar></app-nav-bar>
<div class="container animated pulse" *ngIf="this.authService.validated">
  <div class="row">
  <div class="col-2">
    
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">Welcome user: <b>{{this.authService.userList[0].username}}</b></li>
      <hr class="my-2">
      <li class="nav-item">
        <a class="nav-link active" routerLink = "/admin">
          Status
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink = "/manage">
          Manage
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="modal" data-target="#myModal">
          Log out
        </a>
      </li>
    </ul>

  </div>

  <!-- listing tab -->
  <div class="col-5">
    <div class ="jumbotron animated fadeIn">
      <h3>Listing</h3>
      <hr class="my-4">
      <div class="list-group" *ngFor="let train of this.trainService.trainLists">
        <button class="list-group-item" (click)="trainClicked(train)">{{train.trainName}}</button>
        &nbsp;
      </div>
    </div>

  </div>

  <!-- description tab -->
  <div class="col-5">
    <div class = "jumbotron animated fadeIn" *ngIf="this.trainName != null">
      <h3>Details</h3>
      <p class = "lead"></p>
      <hr class="my-4">
      <h6>Status: {{this.trainStatus}}</h6>
      <h6>Name: {{this.trainName}}</h6>
      <h6>Capacity: {{this.trainCap}}</h6>
    </div>
  </div>


  </div>
</div>

<div class="container-fluid">
  <app-login *ngIf="!this.authService.validated"></app-login>
</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Logging out..</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logOut()">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>