<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
  <div class="col-2">
    
    <ul *ngIf="isLoggedIn" class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Manage</a>
      </li>
    </ul>

  </div>

  <div class="col-10">
    
    <div *ngIf="isLoggedIn" class="jumbotron animated fadeIn">
      <h1 class="display-3">Welcome to DB</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <h4>User: {{username}}</h4>
    </div>

    <app-login *ngIf="!isLoggedIn"></app-login>
    
  </div>


  </div>
</div>