<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">

  <div class="col-2">
    <ul class="nav flex-column nav-pills">
      <!----<li> class="nav-item">Welcome user: <b>{{this.authService.userList[0].username}}</b></li>-->
      <hr class="my-2">
      <li class="nav-item">
        <a class="nav-link" routerLink = "/admin">
          Status
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink = "/manage">
          Manage
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="modal" data-target="#myModal2">
          Log out
        </a>
      </li>
    </ul>
  </div>

  <!-- listing tab -->
  <div class="col-5">
    <div class ="jumbotron animated fadeIn" *ngIf="this.itemNo == 0">
      <h3>Menu</h3>
      <hr class="my-4">
      <div >
        <button type="button" class="btn btn-md btn-block" (click)="onClickedItem(1)">Edit Trains</button>
        <button type="button" class="btn btn-md btn-block" (click)="onClickedItem(2)">Edit Routes</button>
        <button type="button" class="btn btn-md btn-block" (click)="onClickedItem(3)">Edit Stations</button>
        <button type="button" class="btn btn-md btn-block" (click)="onClickedItem(4)">Edit Tickets</button>
        <button type="button" class="btn btn-md btn-block" (click)="onClickedItem(5)">Edit Users</button>
        <br><br>
      </div>
    </div>

    <!-- this part is for trains editing + listing -->
    <div class ="jumbotron animated fadeIn" *ngIf="this.itemNo == 1">
      
      <h3>Trains</h3>
      <button class="btn btn-sm btn-secondary float-left" (click)="onClickedItem(0)">back</button>
      <button class="btn btn-sm btn-primary float-right" (click)="onClickedAdd(1)">Add</button><br>
      <hr class="my-4">
      <ul class="list-group" *ngFor="let train of this.trainService.trainLists">
        <li class="list-group-item">
          <h6 class="float-left">ID:{{train.trainId}} <br> Name: {{train.trainName}}</h6>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="onClickedDel(train,1)" data-toggle="modal" data-target="#myModal">Delete</button>
        <button type="button" class="btn btn-sm btn-info float-right" (click)="onClickedEdit(train,1)">Edit</button>
        </li>
      </ul>
    </div>

     <!-- this part is for routes editing + listing -->
    <div class ="jumbotron animated fadeIn" *ngIf="this.itemNo == 2">
      
      <h3>Routes</h3>
      <button class="btn btn-sm btn-secondary float-left" (click)="onClickedItem(0)">back</button>
      <button class="btn btn-sm btn-primary float-right" (click)="onClickedAdd(2)">Add</button><br>
      <hr class="my-4">
      <ul class="list-group" *ngFor="let route of this.routeService.routeList">
        <li class="list-group-item">
          <h6 class="float-left">ID:{{route.id}} <br> Distance: {{route.distance}} <br> Time arrival: {{splitTime(route.arrival)}} <br> Time departure: {{splitTime(route.dept)}} </h6>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="onClickedDel(route,2)" data-toggle="modal" data-target="#myModal">Delete</button>
        <button type="button" class="btn btn-sm btn-info float-right" (click)="onClickedEdit(route,2)">Edit</button>
        </li>
      </ul>
    </div>

    <!-- this part is for stations editing + listing -->
    <div class ="jumbotron animated fadeIn" *ngIf="this.itemNo == 3">
      
      <h3>Stations</h3>
      <button class="btn btn-sm btn-secondary float-left" (click)="onClickedItem(0)">back</button>
      <button class="btn btn-sm btn-primary float-right" (click)="onClickedAdd(3)">Add</button><br>
      <hr class="my-4">
      <ul class="list-group" *ngFor="let station of this.stationService.stationList">
        <li class="list-group-item">
          <h6 class="float-left">ID:{{station.id}} <br> Name: {{station.name}} </h6>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="onClickedDel()" data-toggle="modal" data-target="#myModal">Delete</button>
        <button type="button" class="btn btn-sm btn-info float-right" (click)="onClickedEdit()">Edit</button>
        </li>
      </ul>
    </div>

    <!-- this part is for tickets editing + listing -->
    <div class ="jumbotron animated fadeIn" *ngIf="this.itemNo == 4">
      
      <h3>Tickets</h3>
      <button class="btn btn-sm btn-secondary float-left" (click)="onClickedItem(0)">back</button>
      <button class="btn btn-sm btn-primary float-right" (click)="onClickedAdd(4)">Add</button><br>
      <hr class="my-4">
      <ul class="list-group" *ngFor="let ticket of this.ticketService.ticketList">
        <li class="list-group-item">
          <h6 class="float-left">ID:{{ticket.id}} <br> Price: ${{ticket.price}}.00 </h6>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="onClickedDel()" data-toggle="modal" data-target="#myModal">Delete</button>
        <button type="button" class="btn btn-sm btn-info float-right" (click)="onClickedEdit()">Edit</button>
        </li>
      </ul>
    </div>

    <!-- this part is for tickets editing + listing -->
    <div class ="jumbotron animated fadeIn" *ngIf="this.itemNo == 5">
      
      <h3>Users</h3>
      <button class="btn btn-sm btn-secondary float-left" (click)="onClickedItem(0)">back</button>
      <button class="btn btn-sm btn-primary float-right" (click)="onClickedAdd(5)">Add</button><br>
      <hr class="my-4">
      <ul class="list-group" *ngFor="let user of this.userService.userList">
        <li class="list-group-item">
          <h6 class="float-left">ID:{{user.id}} <br> Username: {{user.userName}} </h6>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="onClickedDel()" data-toggle="modal" data-target="#myModal">Delete</button>
        <button type="button" class="btn btn-sm btn-info float-right" (click)="onClickedEdit()">Edit</button>
        </li>
      </ul>
    </div>

  </div>

  <!-- edit tab -->
  <div class="col-5">

    <!-- edit form  train-->
    <div class = "jumbotron animated fadeIn" *ngIf="isEdit">
      <h2>Edit</h2>
      <hr class="my-4">
      <form *ngIf="editForm == 1" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div class="form-group" [ngClass]="{'has-error':!form.controls['editName'].valid && form.controls['editName'].touched}">
          <label>Name:</label>
          <input [(ngModel)] ="editName" class="form-control" type="text" placeholder="train name" [formControl]="form.controls['editName']" >
          <div *ngIf="form.controls['editName'].hasError('required') && form.controls['editName'].touched" class="alert alert-danger">Please enter the name</div>
          <div *ngIf="form.controls['editName'].hasError('minlength') && form.controls['editName'].touched" class="alert alert-danger">Invalid name</div>
          <div *ngIf="form.controls['editName'].hasError('maxlength') && form.controls['editName'].touched" class="alert alert-danger">Invalid name</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form.controls['editCap'].valid && form.controls['editCap'].touched}">
          <label>Capacity:</label>
          <input [(ngModel)] ="editCap" class="form-control" data-type="number" placeholder="25" [formControl]="form.controls['editCap']"  >
          <div *ngIf="form.controls['editCap'].hasError('required') && form.controls['editCap'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form.controls['editCap'].hasError('pattern') && form.controls['editCap'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Ok</button>
        </div>
      </form>

       <!-- edit form routes-->
      <form *ngIf="editForm == 2" [formGroup]="form3" (ngSubmit)="onSubmit4(form3.value)">

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['id'].valid && form3.controls['id'].touched}">
          <label>Id:</label>
          <input [(ngModel)] ="id" class="form-control" type="number" placeholder="100" [formControl]="form3.controls['id']" >
          <div *ngIf="form3.controls['id'].hasError('required') && form3.controls['id'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['id'].hasError('pattern') && form3.controls['id'].touched" class="alert alert-danger">Invalid number</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['distance'].valid && form3.controls['distance'].touched}">
          <label>Distance:</label>
          <input [(ngModel)] ="distance" class="form-control" data-type="number" placeholder="25" [formControl]="form3.controls['distance']"  >
          <div *ngIf="form3.controls['distance'].hasError('required') && form3.controls['distance'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['distance'].hasError('pattern') && form3.controls['distance'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['arrival'].valid && form3.controls['arrival'].touched}">
          <label>Time arrival:</label>
          <input [(ngModel)] ="arrival" class="form-control" data-type="number" placeholder="1900" [formControl]="form3.controls['arrival']"  >
          <div *ngIf="form3.controls['arrival'].hasError('required') && form3.controls['arrival'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['arrival'].hasError('pattern') && form3.controls['arrival'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['dept'].valid && form3.controls['dept'].touched}">
          <label>Time departure:</label>
          <input [(ngModel)] ="dept" class="form-control" data-type="number" placeholder="0113" [formControl]="form3.controls['dept']"  >
          <div *ngIf="form3.controls['dept'].hasError('required') && form3.controls['dept'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['dept'].hasError('pattern') && form3.controls['dept'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form3.valid">Ok</button>
        </div>
      </form>

    </div>

    <!-- add form -->
    <div class = "jumbotron animated fadeIn" *ngIf="isAdd">
      <h2>Add</h2>
      <hr class="my-4">
      <form *ngIf="addForm == 1" [formGroup]="form2" (ngSubmit)="onSubmit2(form2.value)">

        <div class="form-group" [ngClass]="{'has-error':!form2.controls['trainName'].valid && form2.controls['trainName'].touched}">
          <label>Train Name:</label>
          <input [(ngModel)] ="trainName" class="form-control" type="text" placeholder="train name" [formControl]="form2.controls['trainName']" >
          <div *ngIf="form2.controls['trainName'].hasError('required') && form2.controls['trainName'].touched" class="alert alert-danger">Please enter the name</div>
          <div *ngIf="form2.controls['trainName'].hasError('minlength') && form2.controls['trainName'].touched" class="alert alert-danger">Invalid name</div>
          <div *ngIf="form2.controls['trainName'].hasError('maxlength') && form2.controls['trainName'].touched" class="alert alert-danger">Invalid name</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form2.controls['trainCap'].valid && form2.controls['trainCap'].touched}">
          <label>Capacity:</label>
          <input [(ngModel)] ="trainCap" class="form-control" data-type="number" placeholder="25" [formControl]="form2.controls['trainCap']"  >
          <div *ngIf="form2.controls['trainCap'].hasError('required') && form2.controls['trainCap'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form2.controls['trainCap'].hasError('pattern') && form2.controls['trainCap'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form2.controls['trainId'].valid && form2.controls['trainId'].touched}">
          <label>Train Id:</label>
          <input [(ngModel)] ="trainId" class="form-control" data-type="number" placeholder="25" [formControl]="form2.controls['trainId']"  >
          <div *ngIf="form2.controls['trainId'].hasError('required') && form2.controls['trainId'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form2.controls['trainId'].hasError('pattern') && form2.controls['trainId'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form2.valid">Ok</button>
        </div>
      </form>

       <!-- add form routes-->
      <form *ngIf="addForm == 2" [formGroup]="form3" (ngSubmit)="onSubmit3(form3.value)">

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['id'].valid && form3.controls['id'].touched}">
          <label>Route Id:</label>
          <input [(ngModel)] ="id" class="form-control" type="number" placeholder="100" [formControl]="form3.controls['id']" >
          <div *ngIf="form3.controls['id'].hasError('required') && form3.controls['id'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['id'].hasError('pattern') && form3.controls['id'].touched" class="alert alert-danger">Invalid number</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['distance'].valid && form3.controls['distance'].touched}">
          <label>Distance:</label>
          <input [(ngModel)] ="distance" class="form-control" data-type="number" placeholder="25" [formControl]="form3.controls['distance']"  >
          <div *ngIf="form3.controls['distance'].hasError('required') && form3.controls['distance'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['distance'].hasError('pattern') && form3.controls['distance'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['arrival'].valid && form3.controls['arrival'].touched}">
          <label>Time arrival:</label>
          <input [(ngModel)] ="arrival" class="form-control" data-type="number" placeholder="1900" [formControl]="form3.controls['arrival']"  >
          <div *ngIf="form3.controls['arrival'].hasError('required') && form3.controls['arrival'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['arrival'].hasError('pattern') && form3.controls['arrival'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form3.controls['dept'].valid && form3.controls['dept'].touched}">
          <label>Time departure:</label>
          <input [(ngModel)] ="dept" class="form-control" data-type="number" placeholder="0113" [formControl]="form3.controls['dept']"  >
          <div *ngIf="form3.controls['dept'].hasError('required') && form3.controls['dept'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form3.controls['dept'].hasError('pattern') && form3.controls['dept'].touched" class="alert alert-danger">Invalid number</div> 
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form3.valid">Ok</button>
        </div>
      </form>

      <!-- add form stations -->
      <form *ngIf="addForm == 3" [formGroup]="form4" (ngSubmit)="onSubmit4(form4.value)">

        <div class="form-group" [ngClass]="{'has-error':!form4.controls['stationId'].valid && form4.controls['stationId'].touched}">
          <label>Station ID:</label>
          <input [(ngModel)] ="stationId" class="form-control" type="number" placeholder="100" [formControl]="form4.controls['stationId']" >
          <div *ngIf="form4.controls['stationId'].hasError('required') && form4.controls['stationId'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form4.controls['stationId'].hasError('pattern') && form4.controls['stationId'].touched" class="alert alert-danger">Invalid number</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form4.controls['stationName'].valid && form4.controls['stationName'].touched}">
          <label>Station Name:</label>
          <input [(ngModel)] ="stationName" class="form-control" type="text" placeholder="station name" [formControl]="form4.controls['stationName']" >
          <div *ngIf="form4.controls['stationName'].hasError('required') && form4.controls['stationName'].touched" class="alert alert-danger">Please enter the name</div>
          <div *ngIf="form4.controls['stationName'].hasError('minlength') && form4.controls['stationName'].touched" class="alert alert-danger">Invalid name</div>
          <div *ngIf="form4.controls['stationName'].hasError('maxlength') && form4.controls['stationName'].touched" class="alert alert-danger">Invalid name</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form4.valid">Ok</button>
        </div>
      </form>

      <!-- add form users -->
      <form *ngIf="addForm == 5" [formGroup]="form5" (ngSubmit)="onSubmit6(form5.value)">

        <div class="form-group" [ngClass]="{'has-error':!form5.controls['userId'].valid && form5.controls['userId'].touched}">
          <label>user ID:</label>
          <input [(ngModel)] ="userId" class="form-control" type="number" placeholder="100" [formControl]="form5.controls['userId']" >
          <div *ngIf="form5.controls['userId'].hasError('required') && form5.controls['userId'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form5.controls['userId'].hasError('pattern') && form5.controls['userId'].touched" class="alert alert-danger">Invalid number</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form5.controls['userName'].valid && form5.controls['userName'].touched}">
          <label>Username:</label>
          <input [(ngModel)] ="userName" class="form-control" type="text" placeholder="admin" [formControl]="form5.controls['userName']" >
          <div *ngIf="form5.controls['userName'].hasError('required') && form5.controls['userName'].touched" class="alert alert-danger">Please enter the name</div>
          <div *ngIf="form5.controls['userName'].hasError('minlength') && form5.controls['userName'].touched" class="alert alert-danger">Invalid name</div>
          <div *ngIf="form5.controls['userName'].hasError('maxlength') && form5.controls['userName'].touched" class="alert alert-danger">Invalid name</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form5.controls['userPass'].valid && form5.controls['userPass'].touched}">
          <label>Password:</label>
          <input [(ngModel)] ="userPass" class="form-control" type="text" placeholder="admin1" [formControl]="form5.controls['userPass']" >
          <div *ngIf="form5.controls['userPass'].hasError('required') && form5.controls['userPass'].touched" class="alert alert-danger">Please enter the name</div>
          <div *ngIf="form5.controls['userPass'].hasError('minlength') && form5.controls['userPass'].touched" class="alert alert-danger">Invalid name</div>
          <div *ngIf="form5.controls['userPass'].hasError('maxlength') && form5.controls['userPass'].touched" class="alert alert-danger">Invalid name</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form5.valid">Ok</button>
        </div>
      </form>

      <!-- add form tickets -->
      <form *ngIf="addForm == 4" [formGroup]="form6" (ngSubmit)="onSubmit6(form6.value)">

        <div class="form-group" [ngClass]="{'has-error':!form6.controls['ticketId'].valid && form6.controls['ticketId'].touched}">
          <label>Ticket ID:</label>
          <input [(ngModel)] ="ticketId" class="form-control" type="number" placeholder="100" [formControl]="form6.controls['ticketId']" >
          <div *ngIf="form6.controls['ticketId'].hasError('required') && form6.controls['ticketId'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form6.controls['ticketId'].hasError('pattern') && form6.controls['ticketId'].touched" class="alert alert-danger">Invalid number</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form6.controls['ticketName'].valid && form6.controls['ticketName'].touched}">
          <label>Ticket's Name:</label>
          <input [(ngModel)] ="ticketName" class="form-control" type="text" placeholder="John" [formControl]="form6.controls['ticketName']" >
          <div *ngIf="form6.controls['ticketName'].hasError('required') && form6.controls['ticketName'].touched" class="alert alert-danger">Please enter the name</div>
          <div *ngIf="form6.controls['ticketName'].hasError('minlength') && form6.controls['ticketName'].touched" class="alert alert-danger">Invalid name</div>
          <div *ngIf="form6.controls['ticketName'].hasError('maxlength') && form6.controls['ticketName'].touched" class="alert alert-danger">Invalid name</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form6.controls['ticketPrice'].valid && form6.controls['ticketPrice'].touched}">
          <label>Ticket Price:</label>
          <input [(ngModel)] ="ticketPrice" class="form-control" type="number" placeholder="10" [formControl]="form6.controls['ticketPrice']" >
          <div *ngIf="form6.controls['ticketPrice'].hasError('required') && form6.controls['ticketPrice'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form6.controls['ticketPrice'].hasError('pattern') && form6.controls['ticketPrice'].touched" class="alert alert-danger">Invalid number</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!form6.controls['ticketCode'].valid && form6.controls['ticketCode'].touched}">
          <label>Ticket Code:</label>
          <input [(ngModel)] ="ticketCode" class="form-control" type="number" placeholder="1001" [formControl]="form6.controls['ticketCode']" >
          <div *ngIf="form6.controls['ticketCode'].hasError('required') && form6.controls['ticketCode'].touched" class="alert alert-danger">Please enter a number</div>
          <div *ngIf="form6.controls['ticketCode'].hasError('pattern') && form6.controls['ticketCode'].touched" class="alert alert-danger">Invalid number</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form6.valid">Ok</button>
        </div>
      </form>
      
  </div>
  </div>
</div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{this.modalName}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{this.modalBody}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmDelete()">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Logging out..</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logOut()">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>