<app-nav-bar></app-nav-bar>
<div class="container-fluid bg-1 text-center">
  <h3 class="margin animated bounceInRight">
    <small class="text-muted">Welcome to</small> California Train
  </h3>
  <img src="../assets/train.png" class="img-responsive img-circle margin" style="display:inline" alt="Logo" width="50%" height="50%">
  <blockquote class="blockquote">
     <p class="mb-0 animated bounceInRight">The only way to be sure of catching a train is to miss the one before it.</p>
     <footer class="blockquote-footer animated bounceInLeft">Gilbert K. Chesterton from <cite title="Source Title">AZ quote</cite></footer> 
  </blockquote>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center animated bounceInUp">
  <h4>Well.. we don't like that either!</h4>
  <br>
  <p>Our website will assist you to catch your train anywhere and anytime</p>
  <a routerLink = "/index" >
    <button class="btn btn-default btn-lg ">Get started</button>
  </a>
</div>
